<section class="profile">
  <div class='page-title col-sm-12'>
    <h1>Edit Profile</h1>
  </div>

  <main class='col-sm-12'>
    <!-- Left column -->
    <%= simple_form_for [current_user, @profile] do |f| %>
    <article class="col-sm-6">
      <section class='basic-info'>
        <h3>Basic Information</h3>
        <table>
          <tr>
            <td class="table-label">Birthday:</td>
            <td>
              <%= f.input :birthday, label: false %>
            </td>
          </tr>
          <tr>
            <td class="table-label">College:</td>
            <td class='table-info'>
            <%= f.input :college, label: false %>
            </td>
          </tr>
          <tr>
            <td class="table-label">Hometown:</td>
            <td class='table-info'>
              <%= f.input :hometown, label: false %>
            </td>
          </tr>
          <tr>
            <td class="table-label">Currently Lives:</td>
            <td class='table-info'>
              <%= f.input :currently_lives, label: false %>
            </td>
          </tr>
        </table>
      </section> <!-- /basic info -->

      <section class='contact-info'>
        <h3>Contact Information</h3>
        <table>
          <tr>
            <td class="table-label">Email:</td>
            <td>harry_potter@hogwarts.edu</td>
          </tr>
          <tr>
            <td class="table-label">Telephone:</td>
            <td class='table-info'>
              <%= f.input :telephone, label: false %>
            </td>
          </tr>
        </table>
      </section> <!-- /contact info -->
    </article><!-- /left column -->

    <!-- Right column -->
    <article class="col-sm-6">
      <section class="words">
        <h3>Words to Live By </h3>
        <%= f.input :words_to_live_by, label: false %>
      </section> <!-- /words -->

      <section class="about">
        <h3>About Me </h3>
        <%= f.input :about_me, label: false %>
      </section> <!-- /about -->
    </article><!-- /right colum -->

    <%= f.submit "Save Changes" %>
    <% end %>
  </main>
</section> <!-- profile -->