<section class="timeline">
  <main>
    <!-- Left column -->
    <article class="col-md-4 left-column">

    <%= render partial: 'shared/about_panel', locals: { profile: @user.profile } %>

      <section class='timeline-photos row'>
        <h2>Photos</h2>
        <div class="row">
        <% if @photos.empty? %>
          <p class='nothing-to-show'>No photos to display</p>
        <% end %>
          <%= render partial: 'photo_panel', locals: { user: current_user, photos: @photos[0..2] } %>
        </div>
        <div class="row">
          <%= render partial: 'photo_panel', locals: { user: current_user, photos: @photos[3..5] } %>
        </div>
        <div class="row">
          <%= render partial: 'photo_panel', locals: { user: current_user, photos: @photos[6..8] } %>
        </div>
        <a href="photos.html">See More Photos</a>
      </section> <!-- /photos -->

      <section class='timeline-friends row'>
        <h2>Friends <%= @user.friend_count %></h2>
          <div class="row">
            <% if @friends.empty? %>
              <p class='nothing-to-show'>No friends to show...</p>
            <% end %>
            <%= render partial: "shared/friends_sidebar", locals: { friends: @friends[0..2] } %>
          </div>
          <div class="row">
            <%= render partial: "shared/friends_sidebar", locals: { friends: @friends[3..5] } %>
          </div>
          <div class="row">
            <%= render partial: "shared/friends_sidebar", locals: { friends: @friends[6..8] } %>
          </div>

        <%= link_to 'See More Friends', user_friends_path(@user), class: 'col-sm-12' %>
        <!-- <a href="#" class='col-md-12'>See More Friends</a> -->
      </section> <!-- /friends -->
    </article><!-- /left column -->

    <!-- Right column -->
    <article class="col-md-8 right-column">

      <% if @user == current_user %>
        <%= render partial: 'posts/post_form', locals: { post: @post } %>
      <% end %>
      
      <%= render partial: 'feed_items', locals: { user: @user, feed_items: @feed_items } %>

      
      <%= will_paginate @feed_items %>
      <br>
      <%= page_entries_info @feed_items %>
    </article> <!-- /right column -->
  </main>
</section> <!-- /timeline -->
