<heading>
  <!-- Jumbotron -->
  <section class="jumbotron cover-image">
    <div class="image-mask">
      <%= image_tag('default_user.png') %>
    </div>
    <h2 class='profile-name'>
      <%= user.full_name %>
    </h2>
  </section>

  <!-- Mid Nav -->
  <div class="row">
  <nav class='mid-nav col-xs-12'>
    <div class="mid-nav-padding"></div>
    <ul>
      <li>
      <%= link_to "Timeline", user_timeline_path(user) %>
      </li>
      <li>
        <%= link_to "About", user_profile_path(user) %>
      </li>
      <li>
        <a href="#">Photos <span class="count-text">(123)</span></a>
      </li>
      <li class='current'>
        <a href="#">Friends <span class="count-text">(542)</span></a>
      </li>
    </ul>
    <%= render partial: 'shared/edit_profile_link', class: 'mid-nav-edit', locals: { user: user } %>
  </nav>
  </div>
</heading>