<heading>
  <!-- Jumbotron -->
  <section class="jumbotron cover-image">
    <div class="image-mask">
      <%= image_tag(user.profile.profile_pic) %>
    </div>
    <h2 class='profile-name'>
      <%= user.full_name %>
    </h2>
  </section>


  <!-- TODO add  class='current' to mid nav current page -->
  <!-- Mid Nav -->
  <div class="row">
    <nav class='mid-nav col-xs-12'>
      <div class="mid-nav-padding"></div>

      <ul>
      <!-- TODO: provide class='current' from the child pages -->
        <li>
          <%= link_to "Timeline", user_timeline_path(user) %>
        </li>
        <li>
          <%= link_to "About", user_profile_path(user) %>
        </li>
        <li>
          <%= link_to user_photos_path(@user) do %>
            Photos
            <%= content_tag :span, "(#{@user.photos.size})", class: 'count-text' %>
          <% end %>
        </li>
        <li>
          <%= link_to user_friends_path(@user) do %>
            Friends
            <span class='count-text'>(<%= @user.friend_count %>)</span>
          <% end %>
        </li>
      </ul>
      
      <% if current_user == @user %>
        <%= yield :mid_nav_option %>
      <% else %>
        <%= render partial: 'shared/friend_button', locals: {user: @user, btn_size: 'sm', class_options: ['mid-nav-button']} %>
      <% end %>
      
    </nav>
  </div>
</heading>