<section class="post row">
  <div class="poster">
    <%= image_tag(post.author.profile.profile_pic) %>
    <div class="post-details">
      <%= link_to post.author.full_name, post.author %>
      <p class='timestamp'>
        Posted on <%= l(post.created_at, format: :M_d_y_timestamp) %>
      </p>
    </div>
  </div>
  <p class='post-text'>
    <%= post.content %>
  </p>
  <footer>
    <div class="post-options">

      <!-- post like/unlike -->
      <%= render partial: 'posts/post_footer', locals: { post: post, user: user } %>
      
      <!-- list of self contained comments with form -->
      <div class="comments">
        <%= render partial: 'comments/comments', locals: { commentable: post, user: user } %>
        
        <%= render partial: 'comments/comment_form', locals: { commentable: post, user: user } %>
      </div>

    </div>
  </footer>
</section>