<section class="timeline">
  <main>
    <!-- Left column -->
    <article class="col-md-4 left-column">

    <%= render partial: 'about_panel', locals: { profile: @user.profile } %>

      <section class='timeline-photos row'>
        <h2>Photos</h2>
        <div class="col-md-4">
          <a href="#"><%= image_tag('default_photo.png') %></a>
          <a href="#"><%= image_tag('default_photo.png') %></a>
          <a href="#"><%= image_tag('default_photo.png') %></a>
        </div>
        <div class="col-md-4">
          <a href="#"><%= image_tag('default_photo.png') %></a>
          <a href="#"><%= image_tag('default_photo.png') %></a>
          <a href="#"><%= image_tag('default_photo.png') %></a>
        </div>
        <div class="col-md-4">
          <a href="#"><%= image_tag('default_photo.png') %></a>
          <a href="#"><%= image_tag('default_photo.png') %></a>
          <a href="#"><%= image_tag('default_photo.png') %></a>
        </div>
        <a href="photos.html">See More Photos</a>
      </section> <!-- /photos -->

      <section class='timeline-friends row'>
        <h2>Friends (542)</h2>
        
        <%= render partial: "shared/friends", locals: { friends: @friends } %>

        <a href="#" class='col-md-12'>See More Friends</a>
      </section> <!-- /friends -->
    </article><!-- /left column -->

    <!-- Right column -->
    <article class="col-md-8 right-column">

      <% if @user == current_user %>
        <%= render partial: 'post_form', locals: { post: @post } %>
      <% end %>

      <%= render partial: @posts, locals: { user: @user } %>

    </article> <!-- /right column -->
  </main>
</section> <!-- /timeline -->
