<!DOCTYPE html>
<html>
  <head>
    <title>Danebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <%= render "shared/navbar" %>
    </div>
    <%= render "shared/flash_messages" %>

    <div class="container">
      <%= render partial: "shared/jumbotron", locals: { user: user_from_params } %>
      <%= yield %>
    </div>

  </body>
</html>
